In [1]:
import numpy as np
import pandas as pd
import sklearn as sk

In [2]:
print("hello")

hello

In [3]:
x = 5
print(x)

5

In [4]:
print(x)

5

In [6]:
x

5

# 가장 큰 제목

## 두 번째로 큰 제목

### 세 번째로 큰 제목

글을 **두껍게는 별 두개** __언더바 두번으로 두껍게__ *이탤릭체는 별 한개* ~~찍 긋고~~ _언더바 한개로 이탤릭체_

* 리스트 1
* 리스트 2
* 리스트 3

줄바꿈은 엔터만 치는 게 아니라 스페이스바 두번 후 엔터를 사용하면 됩니다  
이렇게 말이죠~

문단 분리는 엔터를 치시면 되죠

링크는 이렇게 [링크](https://blog.naver.com/y2kdj9723)  
이미지 링크도 이렇게 ![이미지링크](https://avatars.githubusercontent.com/u/81581204?v=4)

In [1]:
import pandas as pd
df = pd.read_csv('liverpool.csv')

In [2]:
df

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil